  .pending-registration-requests-container h2{
    color: white;
    text-align: center;
    margin: 1rem;;
  }
  .pending-registration-requests-container table {
    width: 95%;
    /* border-collapse: collapse; */
    /* background-color: #f0f4f8; */
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* opacity: 98%; */
    background-color: rgba(255, 255, 255, 0.01);
    color: #fff;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }
  
  .pending-registration-requests-container table th,
  table td {
    padding: 1rem 1rem;
    border: 1px solid #000000;
  }
  
  .pending-registration-requests-container table th {
    background-color: #0d6efd8f;
    font-weight: bold;
    text-align: left;
  }
  
  .pending-registration-requests-container table tbody tr:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .pending-registration-requests-container table td {
    text-align: left;
  }
/* 
.pending-registration-requests-container .approve {
  background-color: rgb(85, 164, 130);
}

.pending-registration-requests-container .approve:hover {
  background-color: rgb(69, 145, 112);
}

.pending-registration-requests-container .decline {
  background-color: rgb(203, 69, 52);
}

.pending-registration-requests-container .decline:hover {
  background-color: rgb(171, 42, 42);
}

.pending-registration-requests-container .offer-alternative {
  background-color: rgb(203, 127, 52);
}

.pending-registration-requests-container .offer-alternative:hover {
  background-color: rgb(183, 115, 47);
}
 */
